<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hebei.speed.rabbit.center.dao.UserDao">


	
	<select id="findUserOnLogin"  resultType="Long">
		select a.id from t_users a 
		   where a.login_name=#{0} 
		    and a.password=#{1} 
		    limit 1 ;
	</select>
	
	
	<select id="findUserById"  resultType="UserEmpty">
		select * from t_users where id=#{0} limit 1;
	</select>
	
</mapper>